@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@media (min-width: 1500px) {
  .headerMobile {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  li {
    color: #766F68;
    list-style: none;
    display: inline;
    font-size: 30px;
    padding: 10px;
  }
  label > img {
    display: none;
  }
  .logo {
    color: #D2872C;
    font-size: 45px;
    max-width: 300px;
  }
  header > img {
    display: none;
  }
}

@media (max-width: 1500px) {
  .headerMobile {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  li {
    color: #766F68;
    list-style: none;
    display: inline;
    font-size: 20px;
  }
  label > img {
    display: none;
  }
  .logo {
    color: #D2872C;
    font-size: 25px;
    max-width: 300px;
  }
  header > img {
    display: none;
  }
}

@media (max-width: 1103px) {
  header {
    display: none;
  }
  .headerMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 290px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .logoMobile {
    width: 150px;
    margin: 0%;
    color: #D2872C;
    font-size: 20px;
  }
  div {
    width: 30px;
    margin: 0%;
  }
  img {
    margin: 0%;
  }
}

@media (min-width: 1500px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 10%;
  }
  .img-fundo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 1000px;
    min-width: 300px;
    padding-top: 40px;
    margin-left: -568px;
  }
  h1 {
    font-family: Roboto;
    color: #766F68;
    width: 1000px;
    font-size: 90px;
    position: relative;
  }
  p {
    padding-top: 20px;
    padding-bottom: 70px;
    font-family: Roboto;
    color: #766F68;
    font-size: 36px;
    width: 600px;
    position: relative;
  }
  input {
    background-color: #D2872C;
    color: white;
    font-size: 35px;
    height: 90px;
    width: 400px;
    border: none;
    border-radius: 30px;
  }
}

@media (max-width: 1500px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15% 5%;
    padding: 0%;
    max-width: 1000px;
  }
  .img-fundo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 600px;
    padding-top: 30px;
    margin-left: -365px;
  }
  h1 {
    font-family: Roboto;
    color: #766F68;
    width: 700px;
    font-size: 70px;
    position: relative;
  }
  p {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
    font-family: Roboto;
    color: #766F68;
    font-size: 28px;
    position: relative;
  }
  input {
    background-color: #D2872C;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 30px;
    margin-left: 100px;
  }
}

@media (max-width: 1103px) {
  .logo {
    font-size: 35px;
  }
  .container {
    max-height: 100%;
    margin: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #titleSection {
    margin: 0%;
  }
  p {
    margin: 0%;
  }
  .content {
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0%;
    padding: none;
    width: 300px;
    margin: none;
  }
  h1 {
    width: 300px;
    font-size: 40px;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
    width: 300px;
  }
  .img-fundo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 300px;
    margin: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  input {
    width: 300px;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0%;
    margin-top: -20%;
    font-size: 25px;
  }
}

* {
  font-family: Roboto;
  margin: 5px 20px;
}
/*# sourceMappingURL=style.css.map */